// Place all the styles related to the messenger controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
    max-width: 800px !important;
}

.chat-main {
    width: 100%;
    max-width: 900px;
    background: #fff;
    height: 600px;
    margin-top: 50px;
    display: flex;
    box-shadow: 0 0 10px #ddd;
}

.left-menu {
    background: #f3f6fc;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.form-switch-button {
    display: flex;
    padding: 10px;
}

.switch-active {
    background: #8DCBF4 !important;
    color: #fff !important;
}

.switch-alluser {
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #8DCBF4;
    color: #8DCBF4;
    cursor: pointer;
}

.switch-friends {
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #8DCBF4;
    color: #8DCBF4;
    cursor: pointer;
}

.name-of-app {
    text-align: center;
    font-size: 20px;
    color: #8dcaf4;
    padding: 10px;
}

.right-menu {
    padding: 0px;
    width: 70%;
    height: 100%;
    background: #fff;
    overflow: hidden;

}

.current-user {

    text-align: center;
    color: #f1648f;
}

.friend-list {
    padding-bottom: 10px;
    max-height: calc(100% - 166px);
    overflow-y: scroll;
    padding-right: 20px;
    width: 100%;
}

.friend-item {
    padding: 10px 0px 10px 30px;
    color: #adb9c3;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    display: flex;
    width: calc(100% - 30px);
}

.friend-avatar {
    line-height: 30px;
    font-size: 24px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #8DCBF4;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
}

.friend-selected,
.friend-item:hover {
    background: #eaeff3;
}

.alluser-list {
    display: none;
    overflow-y: scroll;
    max-height: calc(100% - 166px);
    padding-right: 20px;
    width: 100%;
    padding-bottom: 10px;
}

.friend-active{
        background: #dce1e4;

}
.friend-name {
    width: 55%;
    overflow: hidden;
    position: relative;
    height: 30px;
    font-weight: 700;
    line-height: 20px;
}
.preview-message{
     position: absolute;
    bottom: -4px;
    left: 0px;
    color: #000;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
        width: 150px;
    overflow: hidden;
    height: 20px;
}
.message-unread{
    opacity: 0.9;
    color: #000;
}
.seeen{
    min-height: 30px;
}
.daxem{
    height: 30px;
    padding: 0 30px;
    opacity: 0.6;
    line-height: 30px;
    display: none;
        float: right;

}
/*.friend-add-remove {
    display: none;
    width: 18%;
    text-align: center;
    border-radius: 2px;
}*/
.friend-add {
    display: none;
    width: 18%;
    text-align: center;
    border-radius: 2px;
    background: url(/add.png) no-repeat center;
    background-size: cover;
    opacity: 0.5;
    position: relative;
}
.friend-remove {
    display: none;
    width: 18%;
    text-align: center;
    border-radius: 2px;
    background: url(/del.png) no-repeat center;
    background-size: cover;
    opacity: 0.5;
    position: relative;
}

.friend-remove:hover:after {
    content: "Remove friend";
    position: absolute;
    top: 25px;
    transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
    font-size: 11px;
    width: max-content;
    left: -50%;
    height: 17px;
    background: rgba(0, 0, 0, 0.6);
    line-height: 17px;
    padding: 0 3px;
    border-radius: 2px;
}
.friend-add:hover:after {
    content: "Add friend";
    position: absolute;
    width: max-content;
    top: 25px;
    transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
    font-size: 11px;
    left: -30%;
    height: 17px;
    background: rgba(0, 0, 0, 0.6);
    line-height: 17px;
    padding: 0 3px;
    border-radius: 2px;
}

.friend-add:hover{
    opacity: 1;
}
.friend-remove:hover {
    opacity: 1;
}
.friends-search{
    padding: 0 10px 10px 10px;
}
.friends-search input{
    width: calc(100% - 10px);
    height: 25px;
    border-radius: 3px;
    border: 1px solid #8dcaf4;
    background: #f3f6fd;
    padding: 0 5px;
    color: #8dcaf4;
    outline: none;
}
.friends-search input::-webkit-input-placeholder {
    color: #adb9c3
}

.chat-input-form{

}
.chat-friend-form{
    height: 30px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #f3f6fd;
}
.current-friend-name{
width: calc(100% - 30px);
    text-align: left;
    font-size: 24px;
    opacity: 0.7;
    line-height: 30px;
    font-weight: 700;
    padding-left: 30px;
}
.btn-friend-waiting{
      width: 10%;
    background: url(/newfriend.png) no-repeat center;
    background-size: cover;
    border: 1px solid #8dcaf4;
    border-radius: 50%;
    max-height: 30px;
    max-width: 28px;
    cursor: pointer;
    position: relative;
}
.btn-friend-waiting:hover{
    background: #8dcaf4 url(/newfriend-hover.png) no-repeat center;
    background-size: cover;
    border: 1px solid #fff;
}
.btn-friend-waiting:active{
    background: #fff url(/newfriend.png) no-repeat center;
    background-size: contain;
}



.friend-waiting-panel{
    width: 310px;
    top: 32px;
    position: absolute;
    right: 0px;
    background: #fff;
    padding: 10px 0px 0px 0px;
    box-shadow: 0 0 10px #ddd;
    border-radius: 2px;
    max-height: 500px;
    display: none;
    overflow: hidden;

}
.friend-waiting-content{
    width: 100%;
    overflow-y: scroll;
    padding: 0 20px 0 0;
}
.friend-waiting-title{    
    padding: 0 10px 7px 10px;
    text-align: center;
}
.friendWaiting-item{
    height: 40px;
    /* width: 100%; */
    display: flex;
     border-top: 1px solid #ddd; 
    /*box-shadow: 0 0 5px #f2f2f2;*/
    padding: 5px 10px;
}
.friendWaiting-avatar{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #8dcaf4;
    border-radius: 50px;
    color: #fff;
    min-width: 40px;
    min-height: 40px;
}
.friendWaiting-name{
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    max-width: 130px;
    min-width: 130px;
    overflow: hidden;
}
.friendWaiting-add{
    height: 30px;
    margin: 5px 2px;
    line-height: 30px;
    background: #4267b2;
    color: #fff;
    border-radius: 2px;
    padding: 0 3px;
    border: 1px solid #4267b2;

}

.friendWaiting-remove{
    height: 30px;
    margin: 5px 2px;
    line-height: 30px;
    background: #fff;
    border-radius: 2px;
    padding: 0 3px;
    border: 1px solid #ddd;
    color: #000;
    opacity: 0.7;
}

.chat-contents-form{
    height: calc(80% - 50px);
    display: block;
    overflow-y: scroll;
    padding: 20px 20px 0px 20px;
    width: calc(100% - 20px);
}
.chat-input-form{
    height: calc(20% - 50px);
    display: flex;
}
.chat-input-text{
    width: 100%;
    background: #F8FDFE;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 3px;
    resize: none;
}
.btn-send{
    width: 15%;
    background: url(/send.png) no-repeat center;
    text-align: center;
    margin: 5px;
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    border-radius: 5px;
    background-size: contain;
    cursor: pointer;
    opacity: 0.7;
}
.btn-send:hover{
    opacity: 1;
}
.right-menu{
    background: #F8FDFE;
}
.chat-line-right{
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
}
.chat-line-left{
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
}
.chat-line-right .my-chat-class{
    background: #f1f0f0;
    margin: 3px 10px;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    color: #4b4c50;
}
.chat-line-left .my-chat-class{
    background-color: #417fff;
    margin: 3px 10px;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    color: #fff;
}

.thongbao{
    height: 40px;
    line-height: 40px;
    opacity: 0.5;
    font-size: 12px;
    padding-left: 20px;
}
.logout-class{
    font-size: 14px;
    text-align: center;
}

.logout-class a{
    text-decoration: none;
}